
<nav>
  <% if (user) { %>
  <a href="/robots">View all Robots</a>
  <a href="/robots/new">Add New Robot</a>
  <a href="/robots/yourRobots">My Robots</a>
  <a href="/auth/sign-out">Sign Out</a>
  <% } else { %>
  <a href="/auth/sign-up">Sign Up</a>
  <a href="/auth/sign-in">Sign In</a>
  <% } %>