<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Robots</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Here's all the Robots</h1>
    <a href="/robots/new">Add New Robot</a>

    <ul>
      <% robots.forEach((robot) => { %>
      <li>
        The robot  <%= robot.robotName %> owned by <%= robot.owner.username %>.
        <a href="/robots/<%= robot._id %>">See Details</a>
      </li>
      <% }) %>
    </ul>
  </body>
</html>