<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>New Robot</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="form-page">
    <h1>Add a New Robot </h1>

    <form action="/robots" method="POST" class="robot-form">
      <label for="robotName">Robot Name:</label>
      <input type="text" name="robotName" id="robotName" required/>

      <label for="mobility">Mobility:</label>
      <select name="mobility" id="mobility" >
        <option >Fixed</option>
        <option >Mobile</option>
       </select> 

      <label for="discription">Discription:</label>
      <textarea name="discription" id="discription" ></textarea>

      <label for="robotImage">Robot Image:</label>
      <input type="text" name="robotImage" id="robotImage" />

      <button type="submit">Add Robot</button>
    </form>
    </div>  
  </body>
</html>